 //Boostrap integration 
 @import "../../node_modules/bootstrap/scss/bootstrap";
 $bg-color:#333;
 $font-color:#fff;
 $primary-color:#008ed6;
 $dark-overlay:rgba(0, 0, 0, 0.7);
 $icon-size:30px;
 body {
     background-color: $bg-color;
     color: $font-color;
 }
 
 .navbar {
     display: inline-block;
     border-bottom: $primary-color 3px solid;
     opacity: 0.8;
 }
 
 .containerbox {
     padding-left: 0px;
     margin-left: 0px;
 }
 
 .searchbox {
     display: inline-block;
     position: relative;
     min-width: 50px;
     width: 0%;
     height: 30px;
     float: right;
     overflow: hidden;
     padding: 0;
     margin: 0 0 0 0;
     background: $bg-color;
     -webkit-transition: width 0.3s;
     -moz-transition: width 0.3s;
     -ms-transition: width 0.3s;
     -o-transition: width 0.3s;
     transition: width 0.3s;
 }
 
 .searchbox-input {
     display: inline-block;
     position: relative;
     top: 0;
     right: 0;
     border: 0;
     outline: 0;
     background: $bg-color;
     width: 50%;
     height: 30px;
     margin: 0;
     padding: 0px 0px 0px 20px;
     font-size: 20px;
 }
 
 .searchbox-input::-webkit-input-placeholder {
     color: #d74b4b;
 }
 
 .searchbox-input:-moz-placeholder {
     color: #d74b4b;
 }
 
 .searchbox-input::-moz-placeholder {
     color: #d74b4b;
 }
 
 .searchbox-input:-ms-input-placeholder {
     color: #d74b4b;
 }
 
 .icon-search {
     width: 50px;
     height: 30px;
     display: block;
     position: absolute;
     top: 0;
     font-family: verdana;
     font-size: 22px;
     right: 0;
     padding: 0;
     margin: 0;
     border: 0;
     outline: 0;
     line-height: 30px;
     text-align: center;
     cursor: pointer;
     background: $bg-color;
 }
 
 .searchbox-icon {
     background: $bg-color;
 }
 
 .searchbox-submit {
     display: none;
 }
 
 .searchbox-open {
     width: 80%;
     background: $bg-color;
 }
 
 .byline {
     position: absolute;
     top: 150px;
     left: 30%;
     text-align: center;
     font-size: 18px;
 }
 
 .byline a {
     text-decoration: none;
     color: #d74b4b;
 }
 
 ///////////////////////////END NAVBAR////////////////...
 #home-section {
     background: url('../img/rana.jpg') no-repeat;
     min-height: 700px;
     background-size: cover;
     background-attachment: fixed;
     background-position: 0px -150px;
     .dark-overlay {
         background-color: $dark-overlay;
         top: 0;
         left: 0;
         width: 100%;
         min-height: 700px;
     }
     .home-inner {
         padding-top: 150px;
         img {
             height: 100px;
             width: 150px;
         }
     }
     input:focus {
         background-color: gray;
     }
 }
 
 .icon-ok {
     color: $primary-color;
     background: #fff;
     padding: 4px;
     border-radius: 5px;
     font-size: $icon-size;
 }
 
 .carousel-inner .carousel-item {
     top: 0;
     left: 0;
     min-width: 100%;
     height: 720px;
     max-width: 100%;
 }
 
 .carimg1 {
     background-image: url('../img/ballena.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position-x: 50%;
 }
 
 .carimg2 {
     background-image: url('../img/sloth.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .carimg3 {
     background-image: url('../img/volcan.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .car1 {
     padding-top: 100px;
     h1,
     p {
         top: 90px;
     }
     .letter2 {
         margin-top: 300px;
         background: rgba(50, 90, 90, 0.75);
         color: white;
         a {
             border: 5px solid;
             outline: 5px;
         }
     }
 }
 
 .car2 {
     margin-left: 0;
     top: 100px;
     left: 100px;
     position: absolute;
     .letter22 {
         padding: 10;
         width: 350px;
         height: 250px;
         color: white;
         background: rgba(50, 90, 90, 0.75);
     }
 }
 
 .car3 {
     margin-left: 0;
     top: 100px;
     left: 100px;
     position: absolute;
     .letter3 {
         padding: 10;
         width: 350px;
         height: 250px;
         color: white;
         background: rgba(50, 90, 90, 0.75);
     }
 }
 
 .carcon {
     width: 40px;
     height: 40px;
     top: 50%;
     transform: translateY(-50%);
 }
 
 #share-section {
     .icon-ok {
         color: #fff;
         background: #333;
         padding: 4px;
         border-radius: 5px;
         font-size: $icon-size;
     }
 }
 
 #create-section {
     .icon-ok {
         color: $primary-color;
         background: #fff;
         padding: 4px;
         border-radius: 5px;
         font-size: $icon-size;
     }
 }
 
 .container a .logo {
     display: inline-block;
     width: 250px;
     height: 30px;
     background: url('../img/logo.jpg') no-repeat 0 0;
     background-size: contain;
     position: absolute;
     top: 10px;
     left: 25px;
 }
 
 ///////////////////////////END HOME SECTION////////////////...
 .parallax {
     height: 40vw;
     background-image: url('../img/sha.jpg');
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     color: white;
     display: flex;
     align-items: center;
     box-sizing: border-box;
 }
 
 ///////////////////////////BANNER////////////////
 .main-banner {
     margin: 0 auto;
     width: 1200px;
     height: 200px;
     overflow: hidden;
     position: relative;
     z-index: 100;
 }
 
 .main-banner .imgban {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     transition: all ease-in-out 2000ms;
     -o-transition: all ease-in-out 2000ms;
     -webkit-transition: all ease-in-out 2000ms;
     -moz-transition: all ease-in-out 2000ms;
 }
 
 .main-banner #imgban3 {
     background-image: url('../img/1.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 
 .main-banner #imgban2 {
     background-image: url('../img/2.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 
 .main-banner #imgban1 {
     background-image: url('../img/3.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 
 ///////////////////////////END BANNER////////////////...
 .fragment {
     background-image: url('../img/bann.png');
     background-size: cover;
     background-repeat: no-repeat;
     background-position-y: -40px;
     background-position-x: 300px;
     background-color: #00d2d6;
     position: relative;
     overflow: hidden;
     font-size: 12px;
     font-family: tahoma;
     height: 145px;
     width: 900px;
     border: 1px solid #ccc;
     text-decoration: none;
     position: sticky;
     .timtext1 {
         list-style: none;
         .li1 {
             font-family: bold;
         }
         .timer {
             font-size: 4vh;
         }
     }
     hr {
         border-left: 1px solid;
         height: 8vh;
         width: 1px;
         padding-left: 0px;
         margin-left: 10px;
         margin-right: 10px;
     }
     .btn33 {
         position: absolute;
         padding: 0 0;
         top: 113px;
         bottom: 50px;
     }
     .xxx {
         height: 1px;
         width: 1px;
         position: absolute;
         margin-left: 97%;
         margin-bottom: 100px;
     }
 }
 
 .fragment2 {
     background-image: url('../img/cash.jpg');
     background-size: contain;
     background-repeat: no-repeat;
     background-color: #00d2d6;
     background-position-y: 100%;
     position: relative;
     font-size: 12px;
     font-family: tahoma;
     height: 200px;
     width: 350px;
     border: 1px solid #ccc;
     text-decoration: none;
     position: sticky;
     overflow: hidden;
     .timtext1 {
         width: 100%;
         list-style: none;
         display: block;
         overflow: hidden;
         padding: 0% 0%;
         margin-left: 10%;
         margin-bottom: 5px;
         .li1 {
             font-family: bold;
         }
         .timer {
             font-size: 2vh;
             width: 100%;
         }
         hr {
             border-left: 1px solid;
             height: 8vh;
             width: 1px;
             padding-left: 0px;
             margin-left: 10px;
             margin-right: 10px;
         }
     }
     .btn332 {
         position: absolute;
         padding: 0 0;
         top: 80%;
         left: 55%;
     }
     .xxx2 {
         height: 1px;
         width: 1px;
         position: absolute;
         left: 95%;
         bottom: 99%;
         span {
             height: 20px;
         }
     }
 }
 
 .fragment3 {
     background-image: url('../img/acaa.png');
     background-size: contain;
     background-repeat: no-repeat;
     background-position-y: 65%;
     position: relative;
     font-size: 12px;
     font-family: tahoma;
     height: 410px;
     width: 350px;
     border: 1px solid #ccc;
     text-decoration: none;
     position: sticky;
     .aca {
         position: absolute;
         height: 100%;
         width: 50%;
         overflow: hidden;
         margin-top: 0%;
     }
     .xxx3 {
         height: 1px;
         width: 1px;
         position: absolute;
         left: 95%;
         bottom: 100%;
         span {
             height: 20px;
         }
     }
     .timtext0 {
         width: 100%;
         list-style: none;
         display: block;
         overflow: hidden;
         padding: 0% 0%;
         margin-left: 190%;
         margin-bottom: 5px;
         margin-top: 15px;
         .li12 {
             font-family: bold;
         }
         .timer {
             font-size: 2vh;
             width: 100%;
         }
         hr {
             color: lavender;
             height: 1px;
             width: 50px;
             padding-left: 0px;
             margin-left: 10px;
             margin-right: 10px;
         }
     }
 }
 
 .ma .btn3322 {
     margin-left: 200px;
 }
 
 ///////////////////////////END CLOSING AD////////////////...
 .thumbs {
     margin-bottom: 15px;
 }
 
 .thumbnail {
     position: relative;
     height: 250px;
     width: 250px;
     margin: 5px;
 }
 
 .fixtry1 {
     background-image: url('../img/couple.jpg');
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .fixtry2 {
     background-image: url('../img/rm.jpg');
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .fixtry3 {
     background-image: url('../img/444.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position-x: 50%;
 }
 
 .fixtry4 {
     background-image: url('../img/555.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position-x: 50%;
 }
 
 .fixtry5 {
     background-image: url('../img/666.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position-x: 50%;
 }
 
 .fixtry6 {
     background-image: url('../img/777.jpg');
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .caption {
     position: absolute;
     top: 0;
     right: 0;
     background: rgba(90, 90, 90, 0.75);
     width: 100%;
     height: 0;
     text-align: left;
     color: #fff !important;
     z-index: 2;
     overflow: hidden;
     transition: .5s all;
 }
 
 .open-caption {
     height: 100%;
 }
 
 #img-wrapper {
     width: 300px;
     height: 350px;
     position: relative;
     margin-left: 40%;
     left: -100px;
     margin-top: 100px;
     border-radius: 10px;
     .rotating-img {
         position: absolute;
         width: 100%;
         height: 100%;
         position: absolute;
         -moz-backface-visibility: hidden;
         -webkit-backface-visibility: hidden !important;
         -o-backface-visibility: hidden;
         -ms-backface-visibility: hidden;
     }
 }
 
 //END SPECIAL THUMBNAILS////
 .cont2 {
     .btn {
         padding: 0 0;
         float: left;
         text-align: center;
         text-decoration: none;
         border: none;
         p {
             font-size: small;
             float: right;
         }
     }
     .boton {
         height: 50px;
         width: 50px;
     }
 }
 
 .cont2 {
     img:hover {
         -ms-transform: scale(2.5);
         /* IE 9 */
         -webkit-transform: scale(1.5);
         /* Safari 3-8 */
         transform: scale(1.5);
         transition: transform 1s;
     }
 }
 
 .frame-1 {
     color: white;
     font-weight: normal;
     font-family: 'Ultra', sans-serif;
     font-size: 45px;
     line-height: 42px;
     text-transform: uppercase;
     text-shadow: 0 2px black, 0 1px #777;
 }
 
 //THREE ACCORDIONS END
 .opqcont {
     background: #333;
     .opa:hover a {
         opacity: 0.2;
         transition: 1s;
     }
     .opa a:hover {
         opacity: 2;
     }
 }
 
 .otherServ {
     color: $font-color;
     font-weight: normal;
     font-family: 'Ultra', sans-serif;
     font-size: 36px;
     line-height: 42px;
     text-transform: uppercase;
     text-shadow: 0 2px black, 0 1px #777;
 }
 
 .min1 {
     height: 150px;
     widows: 150px;
     background-image: url('../img/hh.jpg');
     background-size: cover;
     color: $font-color;
     p {
         margin-top: 125px;
     }
 }
 
 .min2 {
     height: 150px;
     widows: 150px;
     background-image: url('../img/yt.jpg');
     background-size: cover;
     color: $font-color;
     p {
         margin-top: 125px;
     }
 }
 
 .min3 {
     height: 150px;
     widows: 150px;
     background-image: url('../img/hk.jpg');
     background-size: cover;
     color: $font-color;
     p {
         margin-top: 125px;
     }
 }
 
 .min4 {
     height: 150px;
     widows: 150px;
     background-image: url('../img/442.png');
     background-size: cover;
     color: $font-color;
     p {
         margin-top: 125px;
     }
 }
 
 .min5 {
     height: 150px;
     widows: 150px;
     background-image: url('../img/rs.jpg');
     background-size: cover;
     color: $font-color;
     p {
         margin-top: 125px;
     }
 }
 
 .min6 {
     height: 150px;
     widows: 150px;
     background-image: url('../img/mt.jpg');
     background-size: cover;
     color: $font-color;
     p {
         margin-top: 125px;
     }
 }
 
 .switchList {
     ul {
         list-style: none;
         li {
             font-size: 20px;
             padding: 20px;
             width: 100%;
             margin-top: 0;
             border-top: 1px solid #ccc;
             border-left: none;
             border-right: none;
             text-align: left;
         }
     }
 }
 
 //MIN IMAGES END///
 .maincar2 {
     background-image: url('../img/trav.jpg');
     transform: translateY(60px);
 }
 
 .jumbotron {
     color: $font-color;
     h1 {
         font-size: 30px;
         font-weight: bold;
     }
     p {
         max-width: 300px;
         font-family: font-bold, font-regular, sans-serif;
         font-size: 20px;
         padding: 0;
         margin-left: 20%;
     }
 }
 
 .jumbcont {
     background: rgba(50, 90, 90, 0.75);
 }
 
 //JUMBTRON END
 /*ARROW*/
 
 #accordion4 {
     overflow: hidden;
 }
 
 #accordion4 {
     h1 {
         font-size: 30px;
     }
 }
 
 .bounce {
     -moz-animation: bounce 2s infinite;
     -webkit-animation: bounce 2s infinite;
     animation: bounce 2s infinite;
 }
 
 @keyframes bounce {
     0%,
     20%,
     50%,
     80%,
     100% {
         transform: translateY(0);
     }
     40% {
         transform: translateY(-30px);
     }
     60% {
         transform: translateY(-15px);
     }
 }
 /*END DROPDOWNMENU*/
 
 .cont4 {
     padding: 20px;
     li {
         display: inline;
         list-style: none;
         padding-right: 0px;
     }
     a {
         display: inline;
         padding-bottom: 20px;
         padding-left: 0px;
         color: white;
     }
 }
 
 .hr {
     border-left: 1px solid;
     height: 30vh;
     width: 1px;
     padding-left: 0px;
     margin-left: 0px;
     margin-right: 0px;
 }
 
 .hr2 {
     border-left: 1px solid;
     height: 30vh;
     width: 1px;
     padding-right: 0;
     margin-left: 0px;
     margin-right: 0px;
 }
 
 .hrr {
     border: 1px solid;
     padding-right: 0;
     margin-left: 0px;
     margin-right: 0px;
 }
 
 #map {
     height: 400px;
     width: 400px;
 }
 
 [aria-expanded="false"] .ard {
     display: inline-block;
 }
 
 [aria-expanded="false"] .aup {
     display: none;
 }
 
 [aria-expanded="true"] .ard {
     display: none;
 }
 
 [aria-expanded="true"] .aup {
     display: inline-block;
 }